.pages {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

/* Navbar */
.navbar {
    background-color: rgb(33, 33, 33);
    width: 250px;
    min-width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 0;
    gap: 30px;
}
.navbar .profileCard {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar .profileCard span {
    color: grey;
    padding: 3px 0;
    transition: all 0.1s;
}
.navbar .profileCard span:hover {
    cursor: pointer;
    color: rgb(33, 33, 33);
    background-color: rgb(234, 234, 234);
    padding: 3px 10px;
    transition: all 0.1s;
}
.navbar .links {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.navbar .links span {
    color: grey;
    padding: 3px 0;
    transition: all 0.1s;
}
.navbar .links span:hover {
    cursor: pointer;
    color: rgb(33, 33, 33);
    background-color: rgb(234, 234, 234);
    padding: 3px 10px;
    transition: all 0.1s;
}
.navbar .userInfo {
    transition: all 0.3s;
    left: 0;
    align-self: baseline;
    position: relative;
    padding-top: 10px;
}
.navbar .userInfo:hover {
    left: 5px;
}
.navbar .userInfo #name, .navbar .userInfo #username {
    color: rgb(160, 160, 160);
    transition: all 0.2s;
}
.navbar .userInfo:hover #name, .navbar .userInfo:hover #username {
    color: white;
}
.navbar .options {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.navbar .options div {
    color: grey;
    font-size: 26px;
    transition: all 0.3s;
}
.navbar .options div:hover {
    cursor: pointer;
    margin-left: 6px;
    color: white;
}

/* Content */
.content {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    gap: 12px;
}
.content .body {
    font-family: Montserrat-Regular;
    padding: 8px;
}
.content .reference:has(.post) {
    border: 1.4px solid var(--border-color);
}
.content .reference:has(.post) .post{
    border: none;
}

.content .footer {
    width: max-content;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    gap: 20px;
}
.content .footer .clickFooter {
    margin-left: auto;
    width: 100%;
    height: 100%;
}
.content .footer .icon {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    top: 0;
    opacity: 0.5;
    transition: all 0.2s;
}
.content .footer .icon img {
    width: 16px;
    cursor: pointer;
}
.content .footer .icon p {
    font-family: RobotoCondensed-Regular;
    visibility: hidden;
    margin: 0;
    position: relative;
    left: 4px;
}
.content .footer .icon:hover {
    opacity: 1;
    top: -1px;
}


/* Post */
.post {
    position: sticky;
    width: 100%;
    left: 0;
    border-bottom: 1.4px solid white;
    transition: all 0.2s;
    padding: 10px;
}
#ref {
    background-color: var(--border-color);
    padding-left: 2px;
    margin-top: 12px;
    margin-bottom: 0;
    font-family: RobotoCondensed-Light;
}
.post:hover {
    background-color: var(--card-background-color);
    border-bottom: 1.4px solid var(--border-color);
}
.post:active {
    cursor: pointer;
}
.post .media video {
    width: 100%;
    max-height: 400px;
}

.post .media .videoWrapper {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.postContainer {
    width: 800px;
    position: sticky;
    left: 0;
}


/* User Info */
.userInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.userInfo .bio {
    align-self: center;
}
.userInfo .bio span {
    font-family: RobotoCondensed-Regular;
    font-size: 14px;
    align-self: center;
    background-color: rgb(225, 225, 225);
}
.userInfo .date {
    align-self: baseline;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    min-width: max-content;
    margin-left: auto;
    color: rgb(79, 79, 79);
}
.userInfo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1.4px solid rgb(200, 200, 200)
}
.userInfo div {
    display: flex;
    flex-direction: column;
}
.userInfo div #name {
    font-family: RobotoCondensed-Regular;
    font-size: 20px;
    margin: 0;
}
.userInfo div #username {
    font-family: RobotoCondensed-Light;
    font-size: 16px;
    margin: 0;
    margin-top: -5px;
}
.userInfo div #username::before {
    content: '@';
}


/* User Info Small */
.userInfoSmall {
    display: flex;
    align-items: center;
    gap: 8px;
}
.userInfoSmall .bio {
    align-self: center;
}
.userInfoSmall .bio span {
    font-family: RobotoCondensed-Regular;
    font-size: 14px;
    align-self: center;
    background-color: rgb(225, 225, 225);
}
.userInfoSmall .date {
    align-self: baseline;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    margin-left: auto;
    color: rgb(79, 79, 79);
}
.userInfoSmall img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1.4px solid rgb(200, 200, 200)
}
.userInfoSmall div {
    display: flex;
    flex-direction: column;
}
.userInfoSmall div #name {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    margin: 0;
}
.userInfoSmall div #username {
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    margin: 0;
    margin-top: -5px;
}
.userInfoSmall div #username::before {
    content: '@';
}


/* Profile */
.profile {
    background-color: rgb(238, 238, 238);
    border-bottom: 2px solid var(--border-color);
    width: 700px;
    padding: 20px;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
}
.profile .stats {
    display: flex;
    gap: 20px;
}
.profile .stats p {
    font-family: Epilogue-SemiBold;
}
.profile .stats button {
    align-self: center;
}
.profile .stats span{
    font-family: RobotoCondensed-Light;
}
.profile .stats #clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}
.profile .bio {
    align-self: center;
}
.profile .bio span {
    font-family: RobotoCondensed-Regular;
    font-size: 14px;
    align-self: center;
    background-color: rgb(225, 225, 225);
}


/* People */
.people {
    display: flex;
    background-color: rgb(238, 238, 238);
    border-bottom: 2px solid var(--border-color);
    width: 700px;
    padding: 20px;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
}
.people p {
    font-family: RobotoCondensed-light;
    margin-top: 10.4px;
    font-size: 20px;
}


/* Comment */
.commentSection {
    padding-bottom: 200px;
}
.replySection {
    margin-left: 34px;
}
.comment {
    display: flex;
    border: 1.4px solid var(--border-color);
    border-top: none;
    border-right: none;
    padding: 12px;
    padding-top: 0;
    margin-top: 12px;
    width: 700px;
    position: sticky;
    left: 0;
}
.comment .commentHeader {
    margin-right: 10px;
}
.comment .commentBody {
    display: flex;
    flex-direction: column;
}
.comment .commentBody .body {
    font-family: Montserrat-Regular;
    max-inline-size: 400px;
    overflow-wrap: break-word;
    min-height: 40px;
}
.comment .date {
    font-family: RobotoCondensed-Light;
    min-width: fit-content;
    font-size: 14px;
    margin-left: auto;
    margin-top: 9px;
    color: rgb(79, 79, 79);
}

@media screen and (max-width: 1100px) {
    
    .pages {
        flex-direction: column;
    }

    .navbar {
        background-color: rgb(33, 33, 33);
        border-bottom: 2px solid var(--border-color);
        width: 100%;
        height: fit-content;
        align-items: center;
        padding: 15px;
    }

    .content {
        padding: 0;
    }

    .navbar .links, .navbar .profileCard {
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .navbar .profileCard {
        margin-bottom: -12px;
    }

    .navbar .links {
        margin-bottom: -24px;
        margin-top: -10px;
    }

    .navbar .userInfo {
        margin: 0;
        padding: 0;
    }

    .navbar .options {
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        gap: 15px;
    }

    .navbar .options div {
        font-size: 20px;
    }

    .navbar .options div:hover {
        margin: 0 10px;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .userInfo div #name {
        font-family: RobotoCondensed-Regular;
        max-inline-size: 130px;
        overflow-wrap: break-word;
        font-size: 18px;
        margin: 0;
    }

    .userInfoSmall div #name {
        font-family: RobotoCondensed-Regular;
        max-inline-size: 100px;
        overflow-wrap: break-word;
        font-size: 18px;
        margin: 0;
    }

    .profile {
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
    }

    .postContainer {
        width: auto;
        position: sticky;
        left: 0;
    }

    .people{
        width: 100%;
    }

    .comment {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .comment .commentBody .body {
        font-family: Montserrat-Regular;
        max-inline-size: 800px;
        overflow-wrap: break-word;
        min-height: 40px;
    }

    .comment .commentFooter {
        display: flex;
    }

    .comment .userInfoSmall div #name {
        max-inline-size: 2000px;
        overflow-wrap: break-word;
    }

    .comment .date{
        margin-top: -18px;
    } 

    .comment .footer {
        width: fit-content;

    }
}