.pages {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

/* navbar */
.navbar {
    background-color: rgb(33, 33, 33);
    width: 250px;
    min-width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 30px;
}
.navbar .links {
    align-self: center;
    display: flex;
    gap: 15px;
}
.navbar .links span {
    color: grey;
    padding: 3px 0;
    transition: all 0.1s;
}
.navbar .links span:hover {
    cursor: pointer;
    color: rgb(33, 33, 33);
    background-color: rgb(234, 234, 234);
    padding: 3px 10px;
    transition: all 0.1s;
}
.navbar .userInfo {
    align-self: center;
    transition: all 0.3s;
    padding: 10px;
    margin-left: -12px;
}
.navbar .userInfo:hover {
    cursor: pointer;
    margin-left: 0;
    background-color: rgb(43, 43, 43);;
}
.navbar .userInfo #name, .navbar .userInfo #username {
    color: rgb(234, 234, 234);
}
.navbar .options {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.navbar .options div {
    color: grey;
    font-size: 26px;
    transition: all 0.3s;
}
.navbar .options div:hover {
    cursor: pointer;
    margin-left: 6px;
    color: white;
}

/* content */
.content {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    gap: 12px;
}
.content .body {
    font-family: Montserrat-Regular;
    padding: 8px;
}
.content .reference:has(.post) {
    border: 1.4px solid var(--border-color);
}
.content .reference:has(.post) .post{
    border: none;
}

.footer {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    gap: 10px;
}
.footer .icon {
    width: 16px;
    cursor: pointer;
}
.footer .icon + p {
    font-family: RobotoCondensed-Regular;
    visibility: hidden;
    margin: 0;
    position: relative;
    left: -8px;
}


/* Post */
.post {
    position: sticky;
    width: 100%;
    left: 0;
    border-bottom: 1.4px solid white;
    transition: all 0.2s;
    padding: 10px;
}
#ref {
    background-color: var(--border-color);
    padding-left: 2px;
    margin-bottom: 0;
    font-family: RobotoCondensed-Light;
}
.post:hover {
    background-color: var(--card-background-color);
    border-bottom: 1.4px solid var(--border-color);
}
.post:active {
    cursor: pointer;
}
.post .media video {
    width: 100%;
    max-height: 400px;
}

.post .media .videoWrapper {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* User Info */
.userInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.userInfo .bio {
    align-self: center;
}
.userInfo .bio span {
    font-family: RobotoCondensed-Regular;
    font-size: 14px;
    align-self: center;
    background-color: rgb(225, 225, 225);
}
.userInfo .date {
    align-self: baseline;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    margin-left: auto;
    color: rgb(79, 79, 79);
}
.userInfo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1.4px solid rgb(200, 200, 200)
}
.userInfo div {
    display: flex;
    flex-direction: column;
}
.userInfo div #name {
    font-family: RobotoCondensed-Regular;
    font-size: 20px;
    margin: 0;
}
.userInfo div #username {
    font-family: RobotoCondensed-Light;
    font-size: 16px;
    margin: 0;
    margin-top: -5px;
}
.userInfo div #username::before {
    content: '@';
}


/* User Info Small */
.userInfoSmall {
    display: flex;
    align-items: center;
    gap: 8px;
}
.userInfoSmall .bio {
    align-self: center;
}
.userInfoSmall .bio span {
    font-family: RobotoCondensed-Regular;
    font-size: 14px;
    align-self: center;
    background-color: rgb(225, 225, 225);
}
.userInfoSmall .date {
    align-self: baseline;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    margin-left: auto;
    color: rgb(79, 79, 79);
}
.userInfoSmall img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1.4px solid rgb(200, 200, 200)
}
.userInfoSmall div {
    display: flex;
    flex-direction: column;
}
.userInfoSmall div #name {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    margin: 0;
}
.userInfoSmall div #username {
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    margin: 0;
    margin-top: -5px;
}
.userInfoSmall div #username::before {
    content: '@';
}

/* Profile */
.profile {
    background-color: rgb(238, 238, 238);
    border-bottom: 2px solid var(--border-color);
    width: 700px;
    padding: 20px;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
}
.profile .stats {
    display: flex;
    gap: 20px;
}
.profile .stats p {
    font-family: Epilogue-SemiBold;
}
.profile .stats button {
    align-self: center;
}
.profile .stats span{
    font-family: RobotoCondensed-Light;
}
.profile .bio {
    align-self: center;
}
.profile .bio span {
    font-family: RobotoCondensed-Regular;
    font-size: 14px;
    align-self: center;
    background-color: rgb(225, 225, 225);
}


/* Comment */
.commentSection {
    padding-bottom: 200px;
}
.replySection {
    margin-left: 34px;
}
.comment {
    display: flex;
    border: 1.4px solid var(--border-color);
    border-top: none;
    border-right: none;
    padding: 12px;
    padding-top: 0;
    margin-top: 12px;
    width: 700px;
    position: sticky;
    left: 0;
}
.comment .header {
    margin-right: 10px;
}
.comment .commentBody {
    display: flex;
    flex-direction: column;
}
.comment .commentBody .body {
    font-family: Montserrat-Regular;
    width: 400px;
    inline-size: 400px;
    overflow-wrap: break-word;
    min-height: 40px;
}
.comment .date {
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    margin-top: 9px;
    color: rgb(79, 79, 79);
}
